{{template "base" .}}

{{define "title"}}
    Sign In
{{end}}

{{define "main"}}
    <div class="form__wrapper">
        <div class="form__header">
            Flashy Sign In
        </div>
        <form>
            <div class="form__input">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="name@email.com" autocomplete="email" required />
            </div>
            <div class="form__input">
                <label for="password">Password</label>
                <input name="password" id="password" type="password" autocomplete="password" required />
            </div>

            <button class="form__button">Sign In</button>
        <form>
        <div class="form__footer">
            Don't have an account? <a href="/signup">Sign Up</a>
        </div>
    </div>
{{end}}