:root {
    --color-primary: #606B73;
    --color-text-on-primary: beige;
    --color-secondary: #FFFFFF;
    --color-text-on-secondary: #000000;
    --color-label-on-secondary: darkgray;

    --color-header-primary: #A69F95;
    --color-text-on-header-primary: #000000;
  
    --color-text-on-confidence: white;
  
    --confidence-level-unknown: grey;
    --confidence-level-1: purple;
    --confidence-level-2: orange;
    --confidence-level-3: gold;
    --confidence-level-4: green;
    --confidence-level-5: blue;
  
    --base-size: 1rem;
    --scale: 1.25;
    --h5: calc(var(--base-size) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));

    --small: calc(var(--base-size) / var(--scale));
    --xsmall: calc(var(--small) / var(--scale));
  
    --font-family: "Merriweather", serif;
    --font-weight: 300;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    font-family: var(--font-family);
    font-size: var(--base-size);
    font-weight: var(--font-weight);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: var(--h1);
  }
  
  h2 {
    font-size: var(--h2);
  }
  
  h3 {
    font-size: var(--h3);
  }
  
  h4 {
    font-size: var(--h4);
  }
  
  h5 {
    font-size: var(--h5);
  }
  
  small,
  .text_small {
    font-size: calc(var(--base-size) / var(--scale));
  }

  button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: unset;
  }

  .content {
    padding: 2rem;
  }

  nav {
    align-items: center;
    background-color: var(--color-header-primary);
    color: var(--color-text-on-header-primary);
    display: flex;
    height: 4rem;
    padding: 0 2rem;
  }

  .nav__title {
    font-size: var(--h3);
    font-weight: bold;
  }

  @import "./forms.css";
  @import "./dashboard.css";